Source: txthoonk
Maintainer: Iuri Diniz <iuridiniz@gmail.com>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), debhelper (>= 7), python-support (>= 0.8.4)
Standards-Version: 3.8.4

Package: python-txthoonk
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-twisted (>= 10.1.0)
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Description: Python/Twisted client for Thoonk
 txThoonk is a Thoonk client library for Twisted Python.
 Read more about Thoonk at http://blog.thoonk.com
